{% load static %}
<footer>
<p class="headings">CONTACT LINKS <span class="headings"> CONTACT ME</span></p>
<p><a href="../" class="links" id="foot" style="color: white;">Home</a>
    <span class="icon">
    <a href="https://github.com/Sabinproject/Final_Year_Project" target="_blank"><img src="{% static '/css/images/github.png' %}" alt="Github" width="30px" class="icons"></a>&nbsp;    
    <a href="https://twitter.com/SriHarshaG6" target="_blank"><img src="{% static '/css/images/twitter.png' %}" alt="Twitter" width="30px" class="icons"></a>&nbsp;
    </span>
</p>
<p style="text-align: center;">
    <a href="http://127.0.0.1:8000" target="_blank" class="links" id="foot" 
       style="color: white; text-decoration: none;">
        &copy; 2024 Lost and Found. All rights reserved.
    </a>
</p><p><a href="https://github.com/Sabinproject/Final_Year_Project" target="_blank" class="links" id="foot" style="color: white;">About Me</a>
    <span class="icon">
    <a href="https://www.facebook.com/sabintamang.sabintamang.965/" target="_blank"><img src="{% static '/css/images/facebook.svg' %}" alt="Facebook" width="30px" class="icons"></a> &nbsp;
    <a href="https://www.instagram.com/" target="_blank"><img src="{% static '/css/images/instagram.png' %}" alt="Instagram" width="30px" class="icons"></a>&nbsp;
    </span>
</p>
</footer>